body{

color:#8c92ac;	
	
}
   egg.example{
		color: #D2691E;
	
}

.column1, .column2, .column3, .column4 {
				width: 31.3%;
				float: left;
				margin: 1%;}

#wrapper {
      margin-right: auto;
      margin-left: auto;
      width: 960px;
    }
    #header {
      margin-right: 10px;
      margin-left: 10px;
      width: 940px;
    }
    #navigation {
      padding-bottom: 25px;
      margin-top: 26px;
      margin-left: -1.0416667%; 
      padding-right: 1.0416667%; 
      padding-left: 1.0416667%; 
      width: 97.9166667%; 
      background-repeat: repeat-x;
      border-bottom-color: #bfbfbf;
      border-bottom-style: double; border-bottom-width: 4px;
    }
    #navigation ul li {
      display: inline-block;
    }
    #navigation ul li a {
      height: 42px;
      line-height: 42px;
      margin-right: 15px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Arial, "Lucida Grande", Verdana, sans-serif;
      font-size: 15px;
      color: black;
    }
   
    #content {
      margin-top: 58px;
      margin-right: 10px;
      float: right;
      width: 698px;
    }
    
    
    #footer {
      float: left;
      margin-top: 20px;
      margin-right: 10px;
      margin-left: 10px;
      clear: both;
      width: 940px;
    }


#sidebar {
      border-left-color: #e8e8e8;
      border-left-style: solid;
      border-left-width: 2px;
      margin-top: 40px;
      padding-right: 7px;
      margin-right: 7px;
      margin-left: 20px;
      float: right;
      width: 200px;
    }

.sidebar ul{
    width: 60%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.sidebar li{
    width: 60%;
    padding-top: 60%;
}

.sidebar a{
    display: block;
    font-size: 0.5em;
}



@-webkit-keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


div#slider { overflow: hidden;
 }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
position: relative; width: 500%;
margin: 0; top: 0; left: 0;
-webkit-animation: 30s slidy ease-in-out infinite;
animation: 30s slidy ease-in-out infinite; }; 

